################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/novel-system/.vs/novel-system/v16
/novel-system/Debug
/novel-system/novel-system/Debug
/novel-system/Sample/Debug
/novel-system/Sample/Sample.vcxproj.user
/novel-system/novel-system/novel-system.vcxproj.user
/menulib/.vs
/menulib/Debug/*
!/menulib/Debug/menulib.*
/menulib/menulib/Debug
*.user
/menulib/Sample/Debug
/menulib/UnitTest/Debug
/menulib/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/menulib/menulib/Release
/menulib/Release/d3dx9_43.dll
/menulib/Release/d3dx11_43.dll
/menulib/Release/d3dx10_43.dll
/menulib/Release/D3DCompiler_43.dll
/menulib/Release/simple.cso
/menulib/Release/Sample.pdb
/menulib/Release/Sample.exe
/menulib/Sample/Release
